<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA Nearest Earth Object</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-large.css') }}" />
</head>
<body>

    <h2 style="color:white;">Classfication of nearest earth object as Hazardous or not</h2>
    
     <form action="{{ url_for('classify') }}" method="post">

           <input class="tb" type="number" step="any" name="eds" placeholder="Minimum Estimated Diameter(Kms)">
           <br><br>
           <input class="tb" type="number" step="any" name="edl" placeholder="Maximum Estimated Diameter(Kms)">
           <br><br>
           <input class="tb" type="number" step="any" name="rv" placeholder="Velocity Relative to Earth">
           <br><br>
           <input class="tb" type="number" step="any" name="md" placeholder="Distance in Kilometres missed">
           <br><br>
           <input class="tb" type="number" step="any" name="am" placeholder="Absolute Magnitude">
           <br><br>
           <div >
            <button type="'submit" class="btn">Classify</button>
           </div>
            <br><br>
     </form>
     <br>
    <div class="center">
        {{ pred_out }}
    </div>
</body>
</html>
